.overflow-ellipsis{
    text-overflow: ellipsis;
    overflow : hidden;
    display: -webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient: horizontal;
}
#cool{
    margin: 1em;
}
#leprincipal{
    border: 1rem solid;
    padding: 2em;
}
#submit{
    margin: 1em;

}
#connexioninterdite{
   text-align: center;
   color: red ;
}
body{
    background-image: url(https://cdn.discordapp.com/attachments/818499527618199594/826140606169350144/headway-F2KRf_QfCqw-unsplash_1.jpg);
    background-repeat: repeat;
    background-size: 100%;
}
.container{
    background-color: white;
}
h5{
    text-align: center;
    margin-bottom: 2em;
    font-style: bold;
}