{% extends 'base.html.twig' %}

{% block body %}

    <div class="alert alert-danger">
        <strong>Avertissement !</strong> Vous êtes en train de supprimer l'evenement suivant :
        <ul>
        
            <li><strong>{{'Titre :'|trans }}</strong> {{ evenement.titre }}</li>
            <li><strong>{{'Adresse :'|trans }} </strong> {{ evenement.adresse }}</li>
            <li><strong>{{'Date :'|trans }} </strong>{{  evenement.date|date("d/m/Y") }}</li>
            <li><strong>{{'Ville :'|trans }} </strong>{{ evenement.ville }}</li>
            <li><strong>{{'Jeux :'|trans }} </strong>{{ evenement.jeux }}</li>
            <li><strong>{{'Description :'|trans }} </strong>{{ evenement.description }}</li>
        </ul>
    </div>
    <div class="collapse navbar-collapse">
    {{ form_start(form, {'attr': {'class': 'navbar-form navbar-left'}}) }}
    {{ form_widget(form) }}
        <a href="{{ path('evenement.list') }}" class="btn btn-success" role="button">
            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>{{'Annuler'|trans }}
        </a>
        <button type="submit" class="btn btn-danger" onclick="return confirm('Êtes vous sûr ??')">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>{{'Supprimer'|trans }}
        </button>
    {{ form_end(form) }}
    </div>
{% endblock %}