{% extends 'base.html.twig' %}

{% block body %}
    <h1> {{'Edition d un Evenement :'|trans}}</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">{{'Enregistrer'|trans}}</button>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}