{% extends 'base.html.twig' %}

{% block body %}
    <div>
            {{ form_start(form) }}
            {{ form_end(form) }}
    </div>

    <table class="table text-center">
        <tr>
            <th class="active text-center">{{'Titre'|trans }}</th>
            <th class="active text-center">{{'Date'|trans }}</th>
            <th class="active text-center">{{'Adresse'|trans }}</th>
            <th class="active text-center">{{'Ville'|trans }}</th>
            <th class="active text-center">{{'Jeux'|trans }}</th>
            <th class="active text-center">{{'Description'|trans }}</th>
            {% if is_granted('ROLE_ADMIN') %}
                <th class="active text-center">{{'Editer'|trans }}</th>
                <th class="active text-center">{{'Supression'|trans }}</th>
            {% endif %}
            

        </tr>

        {% for evenement in evenements %}
            <tr>
                <td><a href="{{ path('evenement.show', {id: evenement.id}) }}">{{ evenement.titre }}</a></td>
                <td>   {{ evenement.date|date("d/m/Y") }}  </td>
                <td>{{ evenement.adresse }}</td>
                <td>{{ evenement.ville }}</td>
                <td>{{ evenement.jeux }}</td>
                <td>{{ evenement.description }}</td>
                {% if is_granted('ROLE_ADMIN') %}
                   <td>
                    <form class="navbar-form navbar-center">
                        <a href="{{ path('evenement.edit', {id: evenement.id} ) }}">
                            <button type="button" class="btn btn-warning">{{'Editer'|trans }}</button>
                        </a>
                    </form>
                </td>
                <td>
                    <form class="navbar-form navbar-center">
                        <a href="{{ path('evenement.delete', {id: evenement.id} ) }}">
                            <button type="button" class="btn btn-danger">{{'Suprimer'|trans }}</button>
                        </a>
                    </form>
                </td> 
                {% endif %}
                

            </tr>
        {% endfor %}
    </table>
{% endblock %}