{% extends 'base.html.twig' %}

{% block body %}
    <h1>Détails de l'evenement <i>{{ evenement.titre }}</i>:</h1>
    <div class="media" style="margin-top: 60px;">
        <div class="media-body">
            <div class="row">
                <div class="col-sm-10">
                    <h3 class="media-heading"><strong>Lieu :</strong>{{ evenement.adresse }} <i>({{ evenement.ville }})</i></h3>
                    <h3 class="media-heading"><strong>Date de l'evenement : </strong>{{  evenement.date|date("d/m/Y") }}</h3>
                </div>
            </div>
            <div>
                <h3> <strong>Description</strong></h3>
                <p>{{ evenement.description }}</p>
            </div>
            <div class="row" style="margin-bottom: 60px;">
                <div class="col-sm-12 text-left">
                    {% if app.user %}
                    <a class="btn btn-default " href="{{ path('participe.user', {'id' :evenement.id} ) }}">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>{{'participer'|trans}}
                        
                    </a> 
                    {% endif %}
                    <a class="btn btn-default " href="{{ path('evenement.list' ) }}">
                        <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>{{'Liste des evenements'|trans}}
                        
                    </a>
                    {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('evenement.edit', {id: evenement.id} ) }}">
                        <button type="button" class="btn btn-warning glyphicon glyphicon-pencil">{{'Editer'|trans}}</button>
                    </a>
                    {% endif %}
                    
                </div>
            </div>
        </div>
        {% if commentaires is not empty %}
            <table class="table text-center">
                <tr>
                    <th class="active text-center">{{'Utilisateur'|trans}} </th>
                    <th class="active text-center">{{'Commentaire'|trans}}</th>
                </tr>

                {% for commentaire in commentaires %}
                    <tr>
                        <td>{{ commentaire.getUtilisateur().getNom() }}  {{ commentaire.getUtilisateur().getPrenom() }}</td>
                        <td>{{ commentaire.description }}</td>
                        {% if app.user %}
                            {% if commentaire.getUtilisateur().getId() == user.getId()  %}
                            <td>
                                <a href="{{ path('commentaire.delete', {id: commentaire.id} ) }}">
                                    <button type="button" class="btn btn-warning">{{' Supprimer'|trans}}</button>
                                </a>
                            </td>
                            {% endif %}
                        {% endif %}
                    </tr>
                    
                {% endfor %}
            </table>
        {% else %}
            <table class="table text-center">
                <tr>
                        <th class="active text-center">{{'Aucun commentaire'|trans }}</th>
                </tr>
            </table>
                
        {% endif %}
        {% if app.user %}
            <div>
                {{ form_start(form) }}
                {{ form_end(form) }}
            </div>
        {% endif %}
        
{% endblock %}