<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Event{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  
    
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    {% block stylesheets %}
        <link rel="stylesheet" href="/css/vue.css">
    {% endblock %}

    {% block javascripts %}{% endblock %}

   
</head>
<body>

<nav class="navbar navbar-inverse ">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand"  href="{{ path('evenement.list') }}">{{'Liste des evenements'|trans}}</a>
        </div>
        
        <a class="navbar-brand"  href="{{ path('search') }}">{{'Rechercher un evenement'|trans}}</a>
        <div class="navbar-header">
            <ul class="nav navbar-nav navbar-right">
                {% for key,locale in locales %}

                    <li><a href="{{ path(app.request.get('_route'),app.request.attributes.get('_route_params')|merge({'_locale': key})) }}">{{locale}}</a></li>
                {% endfor %} 
            </ul>
        </div>
        
        
        {% if is_granted('ROLE_ADMIN') %}
            <form class="navbar-form navbar-right">
            <a href="{{ path('evenement.create') }}">
                <button type="button" class="btn btn-success">{{'Creer un Evenement'|trans}}</button>
            </a>
            </form>
        {% endif %}
        
        {% if not app.user %}
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <form class="navbar-form navbar-left">
                        <a href="{{ path('app_login') }}">
                            <button type="button" class="btn btn-success">{{'Se connecter'|trans}}</button>
                        </a>
                    </form>
                    <form class="navbar-form navbar-left">
                        <a href="{{ path('user.creercompte') }}">
                            <button type="button" class="btn btn-success">{{'Creer un compte'|trans}}</button>
                        </a>
                    </form>
                </li>
            </ul>
        </div>
        
        {% endif %}
        {% if app.user %}
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <form class="navbar-form navbar-left">
                            <a href="{{ path('user.show') }}"><button type="button" class="btn btn-secondary">{{'Mon Compte'|trans}}</button></a>
                        </form>
                    </li>
                    <li>
                        <form class="navbar-form navbar-left">
                            <a href="{{ path('app_logout') }}"><button type="button" class="btn btn-secondary">{{'Se deconnecter'|trans}}</button></a>
                        </form>
                    </li>
                    
                </ul>
            </div>
        {% endif %}
    </div>
</nav>

<div class="container" id="leprincipal">
    {% block body %}{% endblock %}
</div>
</body>
</html>
