{% extends 'base.html.twig' %}

{% block body %}
    <h1><strong>{{'Mon compte'|trans}}</strong></h1>
    <div class="media" style="margin-top: 20px;">
        <div class="media-body">
            <div class="row">
                <div class="col-sm-10">
                    <h3 class="media-heading">{{'Nom :'|trans }} {{ user.nom  }} </h3>
                    <h3 class="media-heading">{{'Prenom :'|trans }} {{ user.prenom }}</h3>
                    <h3 class="media-heading">{{'Age :'|trans }} {{ user.age }}</h3>
                    <h3 class="media-heading">{{'AdresseMail :'|trans }} {{ user.email }}</h3>
                    <h3 class="media-heading">{{'Numero :'|trans }} {{ user.numero }}</h3>
                </div>
            </div >
        </div>
    </div>
    
    <h2>{{'Mes evenements'|trans }}</h2>
    {% if evenements is not empty %}
    <table class="table text-center">
        <tr>
            <th class="active text-center">{{'Titre'|trans }}</th>
            <th class="active text-center">{{'Date'|trans }}</th>
            <th class="active text-center">{{'Adresse'|trans }}</th>
            <th class="active text-center">{{'Ville'|trans }}</th>
            <th class="active text-center">{{'Jeux'|trans }}</th>
            <th class="active text-center">{{'Description'|trans }}</th>
            <th class="active text-center">{{'Desinsciption'|trans }}</th>
        </tr>
        {% for evenement in evenements %}
            <tr>
                <td><a href="{{ path('evenement.show', {id: evenement.id}) }}">{{ evenement.titre }}</a></td>
                <td>  {{ evenement.date|date("d/m/Y") }}  </td>
                <td>{{ evenement.adresse }}</td>
                <td>{{ evenement.ville }}</td>
                <td>{{ evenement.jeux }}</td>
                <td>{{ evenement.description }}</td>
                <td>
                    <form class="center">
                        <a href="{{ path('user.sedesinscrire', {id: evenement.id} ) }}">
                            <button type="button" class="btn btn-warning">{{'Se desinscrire'|trans }}</button>
                        </a>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% else %}
        <table class="table text-center">
            <tr>
                <th class="active text-center">{{'Aucun evenement'|trans }} </th>
            </tr>
        </table>
    {% endif %}
        <h2>{{'Mes Commentaires'|trans }}</h2>
     {% if commentaires is not empty %}
            <table class="table text-center">
                <tr>
                    <th class="active text-center">{{'Utilisateur'|trans }} </th>
                    <th class="active text-center">{{'Commentaire'|trans }}</th>
                    <th class="active text-center">{{'Supression'|trans }}</th>
                </tr>

                {% for commentaire in commentaires %}
                    <tr>
                        <td>{{ commentaire.getUtilisateur().getNom() }}  {{ commentaire.getUtilisateur().getPrenom() }}</td>
                        <td>{{ commentaire.description }}</td>
                        <td>
                            <a href="{{ path('commentaire.delete', {id: commentaire.id} ) }}">
                                <button type="button" class="btn btn-warning">{{' Supprimer'}}</button>
                            </a>
                        </td>
                    </tr>
                    
                {% endfor %}
            </table>
        {% else %}
            <table class="table text-center">
                <tr>
                        <th class="active text-center">{{'Aucun commentaire'|trans }} </th>
                </tr>
            </table>
                
        {% endif %}
    </table>
{% endblock %}